<!DOCTYPE html>
<html ng-app="StreamApp">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <title>Paul Scherrer Institut - Overview Panel</title>


          <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--Import materialize.css-->
          <link rel="stylesheet" type="text/css" href="/static/css/main.css">
          <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css"  media="screen,projection"/>
          <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
          <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
          <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
<body>
  <!-- HTML -->
  <header>
      <nav>
          <ul id="slide-out" class="sidenav">
               <li>
                  <div class="user-view">
                     <div class="background" style="margin-left: -150px;margin-top: -231px;">
                        <img src="/static/images/office.png">
                     </div>
                     <img class="circle" src="/static/images/pic.png">
                     <span class="white-text name">Christiana Uzonwanne</span>
                     <span class="white-text email">christiana.uzonwanne@psi.ch</span>
                  </div>
               </li>
          </ul>
      </nav>
</body>
</html>